.input {
    padding: 16px;

    width: 100%;

    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;

    color: #76787d;
    background: #ffffff;

    border-radius: 8px;
    border: 1.5px solid #e9ecef;
}
