.noInfoContainer {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.userInfo {
    padding: 30px 30px 30px 21px;

    display: flex;
    justify-content: space-between;
    gap: 60px;

    flex: 1 1 77%;
}

.imageContainer {
    flex: 0 0 45%;
}

.image {
    width: 100%;
    height: auto;
    overflow: hidden;
    object-fit: cover;
}

.info {
    flex: 0 0 50%;

    margin: 0 -15px;
    padding: 0 15px;

    max-height: 700px;
    overflow-y: auto;
}

.infoTitle {
    margin-bottom: 10px;
}

.emailContainer {
    margin-bottom: 10px;
}

.phoneContainer {
    margin-bottom: 10px;
}

.aboutTitle {
    margin-bottom: 25px;
}
