.h1 {
    font-weight: 700;
    font-size: 32px;

    color: #333;
}

.h2 {
    font-weight: 600;

    font-size: 16px;
    line-height: 140%;
    color: #333;
}

.h3 {
    font-weight: 600;
    font-size: 14px;
    line-height: normal;
    font-style: normal;

    color: #333;
}
